@import 'global';

.doc{
    width:100%;
    display: flex;

    @include breakpoint($s){
        display: block;
    }
}

.loader {
    margin: 50px auto;
    width: 50px;
    height: auto;
    display: block;
}

.footer {
    font-size: 12px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 50px;
    text-align: center;
}