@import 'global';

.nav{
    width: 100%;
    font-size: 14px;
    position: relative;
    width: 100%;
    font-size: 14px;
    z-index: 3;
    background-color: #5F6CC7;

    &Top, &Bottom{
        overflow: hidden;

        .brand{
            display: inline-block;
            height: 50px;
            line-height: 50px;
            margin-right: 100px;

            @include breakpoint($m){
                margin-right: 10px;
            }

            img{
                vertical-align: middle;
            }
        }

        ul{
            display: inline-block;

            @include breakpoint($s){
                display: none;
            }
        }

        ul li{
            list-style: none;
            display: inline-block;
            line-height: 50px;
            vertical-align: middle;
            padding: 0 15px;

            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }

        .pullRight{
            float: right;

            @include breakpoint($s){
                display: inline-block;
            }
        }
    }

    &Top{
        color: $white;
        border-bottom: 1px solid rgba($header-line,.2);
        text-transform: uppercase;

        
    }

    
    &Button{
        border: 0;
        border-radius: 3px;
        background-color: #F5A623;
        color: #000;
        padding: 10px 15px;
    }
}