// Default
$black: #000000;
$white: #ffffff;


// alert
$alert-success: #BBE5B3;
$alert-info: #FEECAA;

// sidebar
$sidebar-bg: rgba(214, 219, 235, 0.3595);
$sidebar-menu-border: #919EAB;
$sidebar-list-hover: #5F6CC7;
$sidebar-circle: #606FC7;
$sidebar-sub-list: #4A4A4A;
$sidebar-back: #637381;


// documentation
$doc-bg: #F4F6F8;
$doc-header: #2A3255;
$doc-nav: #637381;
$doc-nav-border: #979797;

// code
$code-bg: rgba(232, 236, 242, 0.6745);
$code-border: #C4CDD5;
$code-text: #555555;

// footer
$footer-text: #333333;
$footer-line: #BDBDBD;
$footer-bottom: #F2f2F2;

// slack
$slack-text: #3C444C;
$slack-input: #828282;

// tutorials
$tutorial-footer-bg: #F4F6F8;
$tutorial-footer-text: #4E5770;
$tutorial-text: $doc-header;

// header
$header-bg: linear-gradient(179deg, #4c5fe2 2.82%, rgba(220, 223, 242, 0.46) 206.66%);
$header-line: #D0D4D9;
$header-text: #DFE2EB;