.contentContainer{
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
}
.searchBox {
    display: block;
    width: 100%;
    height: 45px;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    outline: 0;

    &::placeholder{
        color: #ccc;
    }
}

.markdown {
    background: #FFFFFF;
    padding: 1rem 2rem;

    table {
        display: block;
        margin-top: 10px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        background-color: rgba(232, 236, 242, 0.9);
        border-spacing:0;
        overflow-x: scroll;
  		border-collapse: collapse;

        th,
        td {
            border: 1px solid #C4CDD5;
            padding: 0.5rem 1rem;
            vertical-align: top;
            a {
                text-decoration: underline;
                color: #576AE6;
                word-wrap: break-word;
            }
        }
        
        thead 
        {
            th {
                vertical-align: bottom;
            }
        }

        tbody + tbody {
            border: 1px solid #7a7a7a;
        }
        tbody tr:nth-of-type(odd) {
            background-color: none;
        }
    }

    pre {
        margin: 1rem 0rem;
        width: 100%;
        padding: 10px;
        background-color: rgba(232, 236, 242, 0.6745);
        border: 0.5px solid #C4CDD5;
        border-radius: 3px;
        overflow-x: auto;
    }

    ul, ol {
        margin-left: 1rem;
        padding: 1rem;
        line-height: 1.4;
        li {
            code {
                padding: 0px 3px;
                background-color: rgba(232, 236, 242, 0.6745);
                border: 0.5px solid #C4CDD5;
            }
        }
    }
    
    blockquote {
        padding: 1rem;
        background-color: rgba(254, 236, 170, 0.4);
        border: 0.5px solid #C4CDD5;
        margin: 10px 0;
        p {
            line-height: 1.25;
            font-size: 1rem;
            font-style: italic;
        }
    }

    p {
        line-height: 1.62;
        font-size: 1.125rem;
        img {
            max-width: 100%;
        }
        a {
            text-decoration: underline;
            color: #576AE6;
            word-wrap: break-word;
        }
        code {
            padding: 0px 3px;
            background-color: rgba(232, 236, 242, 0.6745);
            border: 0.5px solid #C4CDD5;
        }
    }

    h2 {
        margin: 2rem 0rem 1rem 0rem;
    }
    h3 {
        margin: 1.5rem 0rem 0.75rem 0rem;
    }
}